*{
  color: whitesmoke;
}

body {
  font-family: "Lato", sans-serif;
}

.header {
  background-color: black;
  text-align: center;
}

.menu img{
  float: left;
  width: 100px;
  height: 120px;
  margin: 2px;
}

#navbar {
  box-shadow: #000000 5px 5px 15px;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #171515;
}

.content {
  width: 100%;
  height: 100%;
  background-image: url(images/blackbg.jpg);
  float: left;
}

.content table, tr, th{
  margin-left:35%;
  margin-right:auto;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 23px;
  padding: 15px;
  text-align: left;
}

.content td {

  font-family: 'Tahoma', sans-serif;
  font-size: 18px;
  padding: 10px;
  text-align: left;
}

.content h1{
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 50px;
  padding: 2px;
  text-align: center;
}

.content p{
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 23px;
  text-align: center;
}
.content h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  padding: 15px;
  text-align: center;
}

.content2 {
  width: 100%;
  height: 980px;
  background-color: #d1d1d1;
  float: left;
}

.content2 table{
  margin-left:auto;
  margin-right:auto;
}

.content2 img {
  width: 400px;
  height: 430px;
  float: left;
}

.content2 h1{
  box-shadow: #000000 5px 5px 15px;
  color: black;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 50px;
  padding: 15px;
  text-align: center;
}
.content2 h2{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  padding: 15px;
  text-align: center;
}

.sidebar {
  height: 1200px;
  width: 10%;
  float: left;
  background-color: #000000;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 19px;
  text-decoration: none;
  font-size: 17px;
  background-color: #312d2d;
  margin-left: 30%;
  margin-right: -30%;
}

#navbar a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: rgb(62, 61, 61);
  color: white;
}

.carousel {
  margin: 100px auto;
  width: 100%;
  height: 630px;
  display: flex;
  overflow-x: auto;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 15s infinite linear;
  padding-right: 1em;
}

.card {
  flex: 0 0 5em;
  height: 9em;
  padding: 1em;
  background-image: url(images/blackbg.jpg);
  font-size: 3rem;
  border-radius: .2em;
  text-align: center;
  align-content: center;
}

@keyframes spin {
  from {translate: 0;}
  to {translate: -100%;}
}

.contentside {
  width: 30%;
  height: 100%;
  float: left;
}
.social-links {
  width: 20%;
  margin-left: 40%;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.social-links #links{
  display: none;
}

.social-links a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.social-links a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.social-links a:hover {
  background-color: #ddd;
  color: black;
}

